.s-footer {
	flex: 0 0 auto;
	color: $light;
	background-color: $primary-dark;
	padding: 50px 0 90px;
	text-align: center;
	line-height: 1.4;
	font-weight: 300;
	@include media-breakpoint-up(lg) {
		padding-bottom: 160px;
	}
	a {
		color: inherit;
	}
	&__mail {
		font-size: 28px;
		@include media-breakpoint-up(md) {
			font-size: 40px;
		}
		a {
			border: none;
		}
	}
	&__phone {
		font-size: 22px;
		@include media-breakpoint-up(md) {
		    font-size: 32px;
		}
		a {
			border: none;
		}
	}
	&__copy {
		margin-top: 15px;
		@include media-breakpoint-up(md) {
			margin-top: 40px;

		}
	}
}
