footer.s-footer
	._l-container.l-container.l-container_md
		._mail
			a(href="mailto:info@groupmnextm.ru") info@groupmnextm.ru
		._phone
			+phone({
				phone: '+7 (495) 641-40-80'
			})
		._copy
			a(href="#") ПРАВОВАЯ ИНФОРМАЦИЯ

