.main-menu {
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: center;
			gap: 30px;
		}
		@include media-breakpoint-up(xl) {
			gap: 36px;
		}
	}
	&__itm {
		&:not(:first-child) {
			margin-top: 17px;
			@include media-breakpoint-up(md) {
				margin-top: 40px;
			}
			@include media-breakpoint-up(lg) {
				margin-top: 0;
			}
		}

	}
	&__lnk {
		border-bottom-color: transparent;
		color: $primary-dark;
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		@include media-breakpoint-up(md) {
			font-size: 32px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 16px;
		}
		&:hover {
			border-bottom-color: currentColor;
		}
	}

}
