.main-banner {
	overflow: hidden;
	position: relative;
	padding: 60px 0 130px;
	background-color: $primary-dark;
	color: $light;
	@include media-breakpoint-up(md) {
	    padding: 83px 0 138px;
	}
	@include media-breakpoint-up(lg) {
		padding: 89px 0 162px;
	}
	&__img {
		display: block;
		max-width: 100%;
		@include media-breakpoint-up(md) {
			width: 394px;
			margin-left: -46px;
		}
		@include media-breakpoint-up(xl) {
			width: 535px;
			margin-left: -60px;
		}
		&_right {
			width: 237px;
			margin: 59px auto 0;
			@include media-breakpoint-up(md) {
				position: absolute;
				width: 244px;
				left: 50%;
				top: 53px;
				margin-left: (487px - 768px / 2);
			}
			@include media-breakpoint-up(xl) {
				width: 397px;
				margin-left: (805px - 1240px / 2);
			}
		}
	}
	&__content {
		max-width: 521px;
	}
	&__btn {
		margin-top: 59px;
		@include media-breakpoint-down(sm) {
			display: block;
			width: 100%;

		}
		@include media-breakpoint-up(md) {
			margin-top: 73px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 65px;
		}
	}
	&__title {
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.3;
		margin: 48px 0 0;

	}
	&__desc {
		margin: 41px 0 0;
	}
	&__next {
		bottom: 37px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 28px;
		position: absolute;
		padding: 0;
		background-color: transparent;
		color: inherit;
		cursor: pointer;
		outline: none;
		box-shadow: none;
		border: none;
		width: 85px;
		height: 28px;
		.icon {
			display: block;
			animation: spin 5s infinite linear;
			position: absolute;
			top: 0;
			left: 0;
			transition: transform $animation-base-time;
		}
		&:hover .icon {
			transform: translateY(100%);
		}
		@include media-breakpoint-up(lg) {
			bottom: 86px;
		}
	}
}
