.main-banner
	._l-container.l-container.l-container_md
		+picture({
			img: 'images/main-banner/img-1.png',
			media: false,
			retina: false,
			lazy: 'eager'
		})._img
		a(href="#")._btn.btn зарегистрироваться
		+picture({
			img: 'images/main-banner/img-2.png',
			media: false,
			retina: false,
			lazy: 'eager'
		})._img.-right
		._content
			h1._title
				| Команда рекламного холдинга GroupM рада
				| открыть для вас двери digital-конференции NextM!
			._desc
				| NextM – это ежегодная digital-конференция,
				| организованная ведущей международной рекламной группой GroupM, входящей в состав коммуникационного холдинга WPP и представленной в России агентствами Mindshare, MediaCom и Wavemaker.
			button(type="button" data-href="#speakers")._next.js-anchore
				+icon('angle-down')
