.s-callback {
	background-color: $primary-dark;
	color: $light;
	padding: 75px 0 50px;
	@include media-breakpoint-up(md) {
		padding: 139px 0 50px;
	}
	&__form {
		display: flex;
		flex-flow: row wrap;
		gap: 26px;
	}
	&__input {
		flex: 0 0 100%;
		max-width: 100%;
		@include media-breakpoint-up(md) {
			flex: 0 0 calc(50% - 13px);
			max-width: calc(50% - 13px);
		}
	}
	&__textarea {
		flex: 0 0 100%;
		max-width: 100%;

	}
	&__btns {
		display: flex;
		justify-content: center;
		margin-top: 113px;
		flex: 0 0 100%;
		@include media-breakpoint-up(md) {
			margin-top: 0px;
			justify-content: flex-end;
		}
	}
	&__btn {
		min-width: 241px;
	}
}
