.s-callback
	._l-container.l-container.l-container_md
		h3._title.-h2 Отправить сообщение
		form._form
			+input({
				field: {
					placeholder: "Ваше имя",
					required: true,
					pattern: ".{2,}"
				}
			})._input
			+input({
				field: {
					type: 'email',
					placeholder: "Email",
					required: true
				}
			})._input
			+input({
				field: {
					tagName: 'textarea',
					placeholder: "Ваше сообщение",
					required: true
				}
			})._textarea
			._btns
				button(type="submit")._btn.btn отправить
