@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-angle-down {
    width: (87 / 31) * 1em;
}
.icon-fb {
    width: (26 / 26) * 1em;
}
.icon-mail {
    width: (26 / 19) * 1em;
}
.icon-next {
    width: (31 / 87) * 1em;
}
.icon-prev {
    width: (31 / 87) * 1em;
}
