.s-header {
	flex: 0 0 auto;
	padding: 14.5px 0;
	background-color: $light;
	&__l-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__logo {
		border: none;
		flex: 0 0 146px;
		max-width: 146px;
	}
	&__img {
		display: block;
		max-width: 100%;
	}
	&__mobile-dropdown {
		background-color: $light;
		position: fixed;
		z-index: 1000;
		top: 65px;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: calc(100% - 65px);
		transform: translateX(-100%);
		transition: transform $animation-base-time;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 20px;
		&.is-open {
			transform: translateX(0%);
		}
		@include media-breakpoint-up(lg) {
			overflow: initial;
			padding: 0 0 0 25px;
			flex-flow: row nowrap;
			position: relative;
			height: auto;
			top: 0;
			transition: none;
			flex: 1 0 0%;
			transform: none;
			margin-left: 25px;
			&:before {
				content: '';
				width: 1px;
				height: 46px;
				top: 50%;
				position: absolute;
				background-color: #C4C4C4;
				transform: translateY(-50%);
				left: 0;
			}


		}
	}
	&__reg {
		margin: 25px auto;
		@include media-breakpoint-up(md) {
			margin: 45px auto;
		}
		@include media-breakpoint-up(lg) {
			margin: 0 0 0 26px;
		}
		@include media-breakpoint-up(xl) {
			margin: 0 0 0 46px;
		}
	}
	&__socials {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 13px;
		@include media-breakpoint-up(lg) {
			margin-left: auto;
		}
	}
	&__social-lnk {
		border: none;
		padding: 5px;
		color: $primary-dark;
		transition: color $animation-base-time;
		&:hover {
			color: $primary;
		}
		.icon {
			display: block;
		}
	}

	&__burger {
		padding: 0;
		border: none;
		outline: none;
		box-shadow: none;
		background-color: transparent;
		margin-left: auto;
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		&.is-active &-line {
			background-color: transparent;
			&:before {
				top: 0;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
		&-line {
			position: relative;
			display: block;
			width: 25px;
			height: 2px;
			background-color: $primary-dark;
			transition: background-color $animation-base-time;
			&:after,
			&:before {
				content: '';
				width: 100%;
				transition: transform $animation-base-time, top $animation-base-time, bottom $animation-base-time;
				height: 100%;
				position: absolute;
				background-color: $primary-dark;
				left: 0;
			}
			&:before {
				top: -7px;

			}
			&:after {
				bottom: -7px;
			}
		}

	}
}


.is-menu-open {
	@include media-breakpoint-down(sm) {
		overflow: hidden;
	}
	body {
		@include media-breakpoint-down(sm) {
			overflow: hidden;
		}
	}
}
