include ../main-menu/main-menu
.s-header
	._l-container.l-container
		a(href="#")._logo
			img(src="images/logo.svg" alt="Tyny 2019" width="146" height="36")._img
		._mobile-dropdown#mobile-dropdown
			+mainMenu({
				list: mainMenu
			})
			a(href="#")._reg.btn.btn_white.btn_md Регистрация
			._socials
				a(href="mailto:test@mail.ru")._social-lnk
					+icon('mail')
				a(href="#" target="_blank")._social-lnk
					+icon('fb')
		button(type="button")._burger.-hidden-desktop#burger
			span._burger-line

