html {
	font-size:62.5%;
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	color: $font-base-color;
	@include base-text-style;
}
* {
	box-sizing: border-box;
}
.lnk,
a {
	text-decoration: none;
	transition: border-bottom-color $animation-base-time;
	border-bottom: 1px solid;
	color: $font-link-color;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:hover {
		border-bottom-color: transparent;
	}
	&_reverse {
		border-bottom-color: transparent;
		&:hover {
			border-bottom-color: currentColor;
		}
	}
}
ul {
	marker-offset: -10px;
}
.l-main {
	flex: 1 0 auto;
}
.icon-prev,
.icon-next,
.icon-angle-down {
	fill: none;
	stroke: currentColor;
}

.l-container {
	width: 100%;
	max-width: 1190px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	@include media-breakpoint-up(md) {
	    padding: 0 25px;
	}
	&_md {
		max-width: 940px;
		@include media-breakpoint-up(md) {
			padding: 0 70px;
		}
	}
}
