.btn {
	border: 1px solid $primary;
	background-color: $primary;
	color: $light;
	outline: none;
	box-shadow: none;
	padding: 24px 5px;
	transition: background-color $animation-base-time, border-color $animation-base-time;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.4;
	cursor: pointer;
	letter-spacing: 4.2px;
	text-transform: uppercase;
	display: inline-flex;
	justify-content: center;

	text-align: center;
	align-items: center;
	min-height: 71px;
	@include media-breakpoint-up(md) {
		letter-spacing: 9.38px;
		padding: 24px 40px;
	}
	&:hover {
		background: 1px solid $light;
		color: $primary;
		background-color: $light;
	}
	&_white {
		background-color: $light;
		color: $primary;
		&:hover {
			color: $light;
			background-color: $primary;
		}
	}
	&_md {
		text-transform: none;
		padding: 8px 32px;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		min-height: 36px;
		letter-spacing: 0;
	}
	&:disabled:hover, &.is-disabled:hover, &[disabled]:hover,
	&:disabled, &.is-disabled, &[disabled] {
		cursor: not-allowed;

	}
}
