.input {
	&__field {
		display: block;
		width: 100%;
		border: none;
		background-color: $light;
		color: #000;
		padding: 12px 19px;
		outline: none;
		box-shadow: 0px 0px 0px 3px $light inset;
		font-family: $font-family-base;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		transition: box-shadow $animation-base-time;
		&::placeholder {
			color: #000;
			opacity: 0.5
		}
		&.is-invalid {
			box-shadow: 0px 0px 0px 3px $danger inset;
		}
	}
}
