@mixin device($class, $breakpoints: $device-breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		@if($breakpoint == 'phone') {
			@include modifier(#{$class}-phone) {
				@include media-breakpoint-down(sm) {
					@content;
				}
			}
		}
		@if($breakpoint == 'tablet') {
			@include modifier(#{$class}-tablet) {
				@include media-breakpoint-between(md, md) {
					@content;
				}
			}
		}
		@if($breakpoint == 'desktop') {
			@include modifier(#{$class}-desktop) {
				@include media-breakpoint-up(lg) {
					@content;
				}
			}
		}
	}
}

@include device(hidden) {
	display: none!important;
}
@include modifier(hide) {
	display: none;
}
@include modifier(h2) {
	@include text-style-h2();
}

