@mixin base-text-style () {
	font-size: 16px;
	line-height: 1.45;
	font-weight: normal;
	font-style: normal;
	font-family: $font-family-base;
}
@mixin text-style-h2() {
	font-weight: 300;
	font-style: normal;
	font-family: $font-family-head;
	font-size: 40px;
	line-height: 1.4;
	@include media-breakpoint-up(md) {
	   font-size: 50px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 60px;
	}
}
