// Font
$font-family-base: Helvetica Neue, 'HelveticaNeueCyr',  Arial, Helvetica, sans-serif;
$font-family-head: Helvetica Neue, 'HelveticaNeueCyr',   Arial, Helvetica, sans-serif;

/**
 * Grid system
 * -----------------------------------------
 */

//Breakpoints
$grid-breakpoints: (
	xs: 0,
	xsm: 375px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	xxxl:  1872px
);
$device-breakpoints: (
	phone: xs,
	tablet: md,
	desktop: lg
);
// Colors
$dark: #000;
$dark-light: rgba(#000, 0.5);
$light: #FFF;
$warning: #F4F83B;
$primary-dark: #0A2756;
$primary: #007DFE;
$danger: #FB5555;

$font-base-color: $dark;
$font-link-color: $primary;

// time
$animation-base-time: 0.3s;


// Shadow
$shadow-success: 0px 0px 42px 0px rgba(126, 135, 252, 0.76);
$shadow-success-sm: 0px 0px 16px 0px rgba(126, 135, 252, 0.76);
$shadow-success-light: 0px 0px 16px 0px rgba(161, 167, 252, 0.76);
$shadow-dark: 0px 0px 16px 0px rgba(129, 134, 206, 0.25); // search
