.s-speakers {
	padding: 10px 0 42px;
	@include media-breakpoint-up(md) {
		padding: 27px 0 48px;
	}
	@include media-breakpoint-up(lg) {
		padding: 72px 0 80px;
	}
	&__carousel {
		position: relative;
	}
	&__title {
		margin: 0;
	}
	

	&__swiper {
		margin: 49px 0 0;
		&-pagination {
			position: static;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 48px;
			gap: 30px;
			.swiper-pagination-bullet {
				flex: 0 0 13px;
				max-width: 13px;
				height: 13px;
				border-radius: 100%;
				background-color: #E4E4E4;
				transition: background-color $animation-base-time;
				cursor: pointer;
				&:hover,
				&.swiper-pagination-bullet-active {
					background-color: #0A2756;;
				}
			}
		}
	}
	&__prev,
	&__next {
		position: absolute;
		font-size: 85px;
		color: #0A2756;;
		z-index: 10;
		top: 50%;
		cursor: pointer;
		transform: translateY(-50%);
		.icon {
			display: block;
			transition: transform $animation-base-time;
		}
	}
	&__prev {
		left: -80px;
		&:hover .icon {
			transform: translateX(-15px);
		}
	}
	&__next {
		right: -80px;
		&:hover .icon {
			transform: translateX(15px);
		}
	}
	&__swiper-slide {
		position: relative;
	}
	&__img {
		display: block;
		width: 100%;
	}
	&__desc {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		color: #FFF;
		background: rgba(0, 128, 255, 0.70);
		padding: 18px 22px;
		@include media-breakpoint-up(md) {
			padding: 25px 29px;
		}

	}
	&__name {
		color: #FFF;
		font-size: 17.702px;
		font-weight: 500;
		line-height: 100%;
		@include media-breakpoint-up(md) {
			font-size: 24px;
		}
	}
	&__post {
		font-size: 14px;
		font-weight: 400;
		line-height: 100%;
		@include media-breakpoint-up(md) {
			font-size: 18px;
		}
	}
}
