-
	var speakers = [
		{
			img: 'images/s-speakers/img-1.png',
			name: 'ЯРОН ФАРИЗОН',
			post: 'CEO MediaCom'
		},
		{
			img: 'images/s-speakers/img-1.png',
			name: 'ЯРОН ФАРИЗОН',
			post: 'CEO MediaCom'
		},
		{
			img: 'images/s-speakers/img-1.png',
			name: 'ЯРОН ФАРИЗОН',
			post: 'CEO MediaCom'
		},
		{
			img: 'images/s-speakers/img-1.png',
			name: 'ЯРОН ФАРИЗОН',
			post: 'CEO MediaCom'
		},
		{
			img: 'images/s-speakers/img-1.png',
			name: 'ЯРОН ФАРИЗОН',
			post: 'CEO MediaCom'
		}
	]
.s-speakers#speakers
	._l-container.l-container.l-container_md
		h2._title.-h2 Спикеры
		._carousel
			._swiper.swiper
				._swiper-wrapper.swiper-wrapper
					each itm in speakers
						._swiper-slide.swiper-slide
							+picture({
								img: itm.img,
								retina: false,
								media: false
							})._img
							._desc
								._name=itm.name
								._post=itm.post
			._swiper-pagination.swiper-pagination
			._prev.-hidden-phone.-hidden-tablet
				+icon('prev')
			._next.-hidden-phone.-hidden-tablet
				+icon('next')

