extends base/pug/base
append variables
	- var title = 'Тестовое'
	- var pageClass = ''
	- var pageUrl = '/'
block content
	include components/main-banner/main-banner
	include components/s-speakers/s-speakers
	include components/s-callback/s-callback


